[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KPackage/PackageStructure
Comment=KPackage package structure definition
Comment[ca]=Definició de l'estructura d'un paquet de KPackage
Comment[cs]=Definice struktury balíčku KPackage
Comment[hu]=KPackage csomag struktúradefiníció
Comment[nl]=Pakketstructuurdefinitie van KPackage
Comment[pt]=Definição de estrutura de pacotes do KPackage
Comment[pt_BR]=Definição de estrutura de pacote do KPackage
Comment[sk]=Definícia štruktúry balíka KPackage
Comment[sv]=Kpackage strukturdefinition av paket
Comment[uk]=Визначення структури пакунка KPackage
Comment[x-test]=xxKPackage package structure definitionxx

[PropertyDef::X-KPackage-PackageFileFilter]
Type=QString

[PropertyDef::X-KPackage-PackageFileMimetypes]
Type=QStringList

[PropertyDef::X-KPackage-ProvidesWidgetBrowser]
Type=bool

