[Desktop Entry]
Encoding=UTF-8
Keywords=
Name=Custom Content
Name[ca]=Contingut personalitzat
Name[ca@valencia]=Contingut personalitzat
Name[en_GB]=Custom Content
Name[es]=Contenido personalizado
Name[fi]=Mukautettu sisältö
Name[gl]=Contido personalizado
Name[it]=Contenuto personalizzato
Name[nl]=Aangepaste inhoud
Name[pl]=Własna treść
Name[pt]=Conteúdo Personalizado
Name[pt_BR]=Conteúdo personalizado
Name[sk]=Vlastný obsah
Name[sl]=Vsebina po meri
Name[sr]=Посебан садржај
Name[sr@ijekavian]=Посебан садржај
Name[sr@ijekavianlatin]=Poseban sadržaj
Name[sr@latin]=Poseban sadržaj
Name[sv]=Eget innehåll
Name[uk]=Нетиповий вміст
Name[x-test]=xxCustom Contentxx
Name[zh_CN]=自定义内容
Type=Service

X-KDE-ServiceTypes=SimpleContent,CustomContent
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Joe Blow
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=jblow@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.customcontent
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=ui/main.qml
